@use "@/shared/styles/mixins" as *;

.liquid-glass-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 36px;
    border-radius: inherit;
    @include liquid-glass($angle: 130deg, $bright-length: 20%, $bright: rgba(255, 255, 255, 0.199));
}